.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}

.Board {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.fullBoard {
  display: inline-block;
  width: 150px;
  height: 170px;
  border: 2px solid rgb(255, 0, 0);
}
.textBox {
  resize: none;
  height: 70px;
  width: 25em;
}
.createMonsterCard {
  max-width: 200px;
}
.monsterCard {
  position: relative;
  bottom: 50px;
  max-width: 150px;
}
.monsterCardBoarder {
  position: relative;
  bottom: 10px;
  right: 330px;
  max-width: 150px;
}
.lookButton {
  border-color: rgb(0, 0, 0);
  filter: brightness(0.7) saturate(0.6);
}

.lookButton.selected {
  border-color: red;
  background-color: rgb(255, 255, 255);
  filter: brightness(1);
}
.lookButton:hover {
  filter: brightness(1);
}
.selectionImages {
  width: 120px;
}
.imageHolder {
  position: relative;
  display: inline-block;
}
.removeButton {
  position: absolute;
  bottom: 30px;
  left: 110px;
}
.smallImage {
  max-width: 75px;
}

.looks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}