.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}

.Board {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.fullBoard {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid rgb(255, 0, 0);
}
.textBox {
  resize: none;
  height: 70px;
  width: 25em;
}
.monsterCard {
  max-width: 200px;
}
.lookButton {
  border-color: rgb(0, 0, 0);
}

.lookButton.selected {
  border-color: red;
}

.imageHolder {
  position: relative;
  display: inline-block;
}
.removeButton {
  position: absolute;
  bottom: 30px;
  left: 110px;
}